{% extends 'base.html' %}
{% block title %}
acc
{% endblock %}

{% block body %}
<div class="container">
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">

                    <h3 class="mb-0">{{user['name']}}</h3>
                    {%if user['date'].month < 10%}
                    <div class="mb-1 text-muted">
                        {{user['date'].day}}.0{{user['date'].month}}.{{user['date'].year}}
                    </div>
                    {%else%}
                    {%endif%}
                    <p class="card-text mb-auto">{{user['about']}}</p>
                    <a href="/edit_profile/{{user['id']}}" class="btn btn-outline-primary me-2" role="button" >Редактировать</a>
                    <br>
                    <a href="/logout" class="btn btn-outline-primary me-2" role="button" >Выйти</a>
<!--                    <a href="#" class="stretched-link">Continue reading</a>-->
                </div>
                <div class="col-auto d-none d-lg-block">

                </div>
            </div>
        </div>
    </div>
</div>
{% if current_user.is_authenticated %}
<div class="container">
    <div>
        <a href="news" class="btn btn-secondary">Добавить новость</a>
    </div>
    {% endif %}
    {% for item in news%}
    <main class="container">
        <article class="blog-post">
            <h2 class="blog-post-title">{{item.title}}</h2>
            <p class="blog-post-meta">{{item.created_date}} by <a href="#">{{item.user.name}}</a></p>
            <p class="blog-post-meta"><a href="">{{item.tag}}</a></p>
            <div>
                {{item.content}}
            </div>
            {% if current_user.is_authenticated and current_user == item.user %}
            <div>
                <a href="/news/{{ item.id }}" class="btn btn-warning">
                    Изменить
                </a>
                <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
                    Удалить
                </a>
            </div>
            {% endif %}
        </article>
        <hr>
    </main>
</div>
{%endfor%}
{% endblock %}