{% extends 'base.html' %}
{% block title %}
    author {{id}}
{% endblock %}

{% block body %}

<div class="container">
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">

                    <h3 class="mb-0">{{user['name']}}</h3>
                    {%if user['date'].month < 10%}
                        <div class="mb-1 text-muted">{{user['date'].day}}.0{{user['date'].month}}.{{user['date'].year}}</div>
                    {%else%}
                    {%endif%}
                    <p class="card-text mb-auto">{{user['about']}}</p>

                </div>
                <div class="col-auto d-none d-lg-block">

                </div>
            </div>
        </div>
    </div>
</div>
{% for item in news %}
    <div class="container">
        <article class="blog-post">
            <h2 class="blog-post-title">{{item.title}}</h2>
            {%if item.created_date.month < 10%}
                <p class="blog-post-meta">{{item.created_date.day}}.0{{item.created_date.month}}.{{item.created_date.year}} {{item.created_date.hour}}:{{item.created_date.minute}} Автор: <a href="/author/{{item.user_id}}">{{item.user.name}}</a></p>
            {%else%}
                <p class="blog-post-meta">{{item.created_date.day}}.{{item.created_date.month}}.{{item.created_date.year}} {{item.created_date.hour}}:{{item.created_date.minute}} Автор: <a href="#">{{item.user.name}}</a></p>
            {%endif%}
            {%if item.content|length > 460%}
                <div><pre>{{item.content[:460]}}<a href=/post/{{item.id}}>...</a></pre></div>
            {%else%}
                <div><pre>{{item.content}}</pre></div>
            {%endif%}
        </article>

        <hr>
    </div>

{%endfor%}
{% endblock %}